h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

body{
    font-family: Verdana;
    text-align: center;
}
#next{
    padding: 14px 40px;
    font-size: 20px;
}
.counter{
    font-size: 30px;
}

#teamkleuren {
    align-content: center;
}
