body{
    font-family: Verdana;
    text-align: center;
}
.ui-loader{
    display: none;
}
#pageone{
    text-align: center;

}
#next{
    display: inline;
    padding: 14px 40px;
    font-size: 20px;
}
.counter{
    font-size: 30px;
}